In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data/water_potability.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [4]:
df = df.drop('Potability', axis = 1)

In [5]:
df.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
count,2785.000000,3276.000000,3276.000000,3276.000000,2495.000000,3276.000000,3276.000000,3114.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786
std,1.594320,32.879761,8768.570828,1.583085,41.416840,80.824064,3.308162,16.175008,0.780382
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000
25%,6.093092,176.850538,15666.690297,6.127421,307.699498,365.734414,12.065801,55.844536,3.439711
50%,7.036752,196.967627,20927.833607,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028
75%,8.062066,216.667456,27332.762127,8.114887,359.950170,481.792304,16.557652,77.337473,4.500320
max,14.000000,323.124000,61227.196008,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000

In [6]:
df = df.fillna(df.mean())

In [7]:
df1= df[['ph', 'Hardness', 'Solids', 'Conductivity', 'Turbidity', 'Chloramines']]
df2= df[['ph', 'Hardness', 'Solids', 'Conductivity', 'Turbidity', 'Sulfate']]
df3= df[['ph', 'Hardness', 'Solids', 'Conductivity', 'Turbidity', 'Organic_carbon']]
df4= df[['ph', 'Hardness', 'Solids', 'Conductivity', 'Turbidity','Trihalomethanes']]

In [8]:
df1.to_csv("data/chloramines.csv", index= False)
df2.to_csv("data/sulphates.csv", index= False)
df3.to_csv("data/organic_carbon.csv", index= False)
df4.to_csv("data/trihalomethanes.csv", index= False)